* {
    font-family: 'Montserrat',
        sans-serif;
    text-decoration: none;
}
a {
    list-style: none;
    color: #fff;
}

body {
    background-color: white;
    overflow-x: hidden;
}

.top_header {
    height: 90px;
    background: #000;
    padding: 0px 45px;
}

.nav_item {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    padding-top: 26px;
    padding-left: 20px;
}

.nav_arrow {
    width: 50px;
    height: 16px;
    margin-top: 34px;
    margin-left: 18px;
}

.nav_phone {
    width: 27px;
    height: 27px;
    margin-top: 30px;
    margin-right: 5px;
}

.nav_adress {
    width: 32px;
    height: 32px;
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 2px;
}

.menu_img {
    width: 50px;
    height: 15px;
    margin-top: 32px;
}

.list_item {
    list-style: none;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding-top: 25px;
}

.list_item:nth-child(1) {
    margin-left: 0px;
}

.header_list {
    display: flex;
    justify-content: flex-end;
}

.nav_menu {
    margin-top: 0px;
}

.nav_menu p {
    line-height: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.nav_menu .p_logo {
    line-height: 28px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.header {
    position: relative;
    z-index: 1;
    padding: 20px 0px
}

.main_page {
    position: absolute;
    top: 89px;
    height: 780px;
    width: 100%;
    background: url('../img/house.jpg') center no-repeat;
}

.main_page h1 {
    color: #fff;
    font-size: 96px;
    margin-bottom: 0px;
    margin-top: 180px;
    display: inline-block;
    max-width: 100%;
}

.main_page .line {
    margin-top: -10px;
    height: 5px;
    background-color: #FBFF3F;
    width: 75%;
}

.main_page h2 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 0px;
}

.main_page h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 0px;
}

.main_button {
    margin-top: 48px;
    background-color: rgba(196, 196, 196, 0);
    border: 3px solid #FBFF3F;
    width: 300px;
    height: 64px;
    padding: 0 40px;
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}

.carousel_number {
    font-family: Aldrich;
    font-size: 148px;
    color: #FBFF3F;
    margin-top: 120px;
}

.carousel_items {
    margin-top: -150px;
}

.carousel_item {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 120px;
    cursor: pointer;
}

.about_us {
    padding-top: 100px;
    margin-top: 667px;
    height: 957px;
    background-color: #000;
    padding-top: 58px;
    overflow-x: hidden;
}
.about_us_content{
    display: flex;
}
.about_us_box{
    position: relative;
}

.about_us_title {
    margin-top: -100px;
    margin-left: 17px;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    color: #fff;
}

.content_descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 122px;
    width: 537px;
    height: 132px;
    color: #fff;
    position: relative;
}

.content_img {
    margin-top: 59px;
    margin-left: 90px;
}
.add_content {
    display: flex;
}
.read_more {
    font-weight: 700;
    font-size: 24px;
    color: #FBFF3F;
    background: rgba(196, 196, 196, 0);
    border: none;
    position: absolute;
    top: 1285px;
}

.about_us_arrow {
    position: absolute;
    top: 1297px;
    margin-left: 200px;
}

.design_img {
    margin-top: 67px;
}

.design_descr {

    height: 176px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 122px;
    margin-left: 44px;
}

.design_read_more {
    font-weight: 700;
    font-size: 24px;
    color: #FBFF3F;
    background: rgba(196, 196, 196, 0);
    border: none;
    position: absolute;
    top: 310px;
    margin-left: 42px;
}

.design_arrow {
    position: absolute;
    top: 320px;
    margin-left: 240px;
    width: 60px;
    height: 20px;
}

.projects {
    height: 1200px;
    background-color: #000;
    margin-top: -1px;
}

.about_us_projects_title {
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    color: #fff;
    margin-top: -100px;
    margin-left: 34px;
}

.projects_title_1 {
    margin-top: 97px;
    font-weight: bold;
    font-size: 42px;
    line-height: 59px;
    color: #FFFFFF;
    width: 391px;
}

.projects_line {
    width: 389px;
    border: 3px solid #FBFF3F;
    margin-top: 18px;
}

.projects_subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 412px;
    margin-top: 37px;
}

.projects_1_img {
    margin-top: -150px;
    margin-left: 200px;
}

.projects_read_more {
     font-weight: 700;
     font-size: 24px;
     color: #FBFF3F;
     background: rgba(196, 196, 196, 0);
     border: none;
     position: absolute;
     top: 2370px;
}
.projects_arrow_1 {
    position: absolute;
    top: 2382px;
    margin-left: 200px;
}

.projects_title_2 {
    margin-top: 97px;
    font-weight: bold;
    font-size: 42px;
    line-height: 59px;
    color: #FFFFFF;
    width: 391px;
}

.projects_line_2 {
    width: 389px;
    border: 3px solid #FBFF3F;
    margin-top: 18px;
}
.nav_item_1 {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    padding-top: 26px;
    padding-left: 20px;
}

.projects_subtitle_2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 412px;
    margin-top: 37px;
}

.projects_2_img {
    margin-top: -150px;
    margin-left: 200px;
}

.projects_read_more_2 {
    font-weight: 700;
    font-size: 24px;
    color: #FBFF3F;
    background: rgba(196, 196, 196, 0);
    border: none;
    position: absolute;
    top: 2910px;
}

.projects_arrow_2 {
    position: absolute;
    top: 2920px;
    margin-left: 200px;
    width: 60px;
    height: 20px;
}

.contacts {
    background-color: #000;
    margin-top: -1px;
}

.contacts_box {
    margin-top: 65px;
}

.contacts h2 {
    font-size: 64px;
    line-height: 78px;
    /* identical to box height */

    color: #FFFFFF;
    margin-top: -100px;
    margin-left: 40px;
}

.contacts_location {
    margin-top: 60px;
    position: relative;
}

.contacts_descr {
    position: absolute;
    width: 40%;
    height: 596px;
    top: 3310px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 187px;
    padding-left: 91px;
}

.contacts h3 {
    font-size: 20px;
    color: #FFFFFF;
}

.contacts_phone {
    width: 27px;
    height: 27px;
    margin-right: 20px;
}

.contacts_loc {
    margin-top: 35px;
}

.contacts_email {
    margin-top: 43px;
}

.contacts_mail {
    width: 59px;
    height: 59px;
    margin-left: -10px;
    margin-top: 30px;
}

.contacts_adress {
    width: 27px;
    height: 27px;
    margin-top: 60px;
    margin-right: 20px;
}
.row {
    margin-right: 0px !important;
}
.projects_content {
    display: flex;
}
@media screen and (max-width: 768px) {
    .container {
        overflow-x: hidden;
    }
    .nav_item_1 {
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        padding-top: 26px;
        padding-left: 20px;
    }
    .list_item {
        list-style: none;
        padding-left: 30px;
        font-size: 19px;
    }
    .header_list {
        display: flex;
        justify-content: center;
    }
    .main_page h1 {
        color: #fff;
        font-size: 66px;
        margin-bottom: 0px;
        margin-top: 180px;
        display: inline-block;
        max-width: 100%;
    }
    .projects_2_img {
        width: 200px;
    }
    .about_us_content {
        display: block;
    }
    .content_img {
        margin-top: 59px;
        margin-left: 0px;
    }
    .about_us {
        margin-top: 570px;
        height: 1420px;
        background-color: #000;
        padding-top: 98px;
    }
    .add_content {
         display: block;
     }
     .design_descr {
         margin-left: 0px;
     }
     .contacts_descr {
        top: 3928px;
        width: 60%;
     }
     .content_descr {
         font-weight: 400;
         font-size: 18px;
         line-height: 22px;
         margin-top: 72px;
         width: 537px;
         height: 132px;
         color: #fff;
         position: relative;
     }
     .design_descr {

         height: 176px;
         font-size: 18px;
         line-height: 22px;
         color: #FFFFFF;
         margin-top: 59px;
     }
     .projects_content {
         display: block;
     }
    .projects_subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 37px;
    }
    .projects_1_img {
        margin-top: 20px;
        margin-left: 0;
    }
    .projects_subtitle_2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 37px;
    }
    .projects_2_img {
        width: 600px;
        margin-left: 0;
        margin-top: 30px;
    }
    
}

body {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 990px) {
    .projects_1_img {
        margin-top: -100px;
        margin-left: 50px;
        max-width: 100%;
        width: 500px;
        height: 340px;
    }
    .contacts_descr {
        position: absolute;
        width: 60%;
        height: 596px;
        top: 3150px;
        margin-left: 20px;
        background-color: rgba(0, 0, 0, 0.3);
        padding-top: 187px;
        padding-left: 91px;
    }
    .projects {
        margin-top: -1px;
    }
    .design_img {
        margin-top: 90px;
    }
    .content_descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 122px;
        width: 537px;
        height: 132px;
        color: #fff;
        position: relative;
    } 
    .about_us {
        height: 800px;
    }
    .content_descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 42px;
        width: 440px;
        height: 172px;
        color: #fff;
        position: relative;
    }
    .projects_2_img {
        margin-top: -50px;
        margin-left: 100px;
        max-width: 100%;
        width: 450px;
        height: 300px;
    }
    .projects_line {
        width: 215px;
        border: 3px solid #FBFF3F;
        margin-top: 18px;
    }
    .projects_line_2 {
        width: 215px;
        border: 3px solid #FBFF3F;
        margin-top: 18px;
    }
    .nav_item_1 {
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        padding-top: 26px;
        padding-left: 20px;
    }
 }
@media screen and (max-width: 780px) {
    .about_us{
        margin-top: 530px;
    }
    .top_header {
        height: 150px !important;
        background: #000;
        padding: 0px 45px;
    }
    .main_page{
        z-index: -1;
    }
    .about_us {
        overflow-x: hidden;
        max-width: 100%;
    }
    .header .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .list_item {
        list-style: none;
        padding-left: 30px;
        font-size: 19px;
    }

    body {
        overflow-x: hidden;
    }

    .header_list {
        display: flex;
        justify-content: center;
    }

    .main_page h1 {
        color: #fff;
        font-size: 66px;
        margin-bottom: 0px;
        margin-top: 180px;
        display: inline-block;
        max-width: 100%;
    }

    .main_page h2 {
        color: #fff;
        font-size: 42px;
        margin-bottom: 0px;
    }

    .row {
        margin-right: 0px !important;
    }

    .ARCHS {
        margin: 0 auto;
    }

    .about_us_content {
        display: block;
    }

    .projects_2_img {
        width: 200px;
    }

    .content_img {
        margin-top: 59px;
        margin-left: 0px;
    }

    .about_us {
        height: 1457px;
        background-color: #000;
        padding-top: 98px;
    }

    .add_content {
        display: block;
    }

    .design_descr {
        margin-left: 0px;
    }

    .contacts_descr {
        top: 4445px;
        width: 60%;
    }

    .content_descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 72px;
        width: 537px;
        height: 132px;
        color: #fff;
        position: relative;
    }

    .design_descr {

        height: 176px;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 59px;
    }

    .projects_content {
        display: block;
    }

    .projects_subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 37px;
    }

    .projects_1_img {
        margin-top: 20px;
        margin-left: 0;
    }

    .projects_subtitle_2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 37px;
    }

    .projects_2_img {
        width: 550px;
        margin-left: 0;
        margin-top: 30px;
    }

    .ARCHS {
        margin: 0 auto;
    }

    .main_page h1 {
        color: #fff;
        font-size: 66px;
        margin-bottom: 0px;
        margin-top: 230px;
        display: inline-block;
        max-width: 100%;
    }

    .projects {
        height: 1850px;
    }

    .about_us {
        overflow-x: hidden;
    }

    .row {
        margin-right: 0px !important;
    }

    body {
        overflow-x: hidden;
    }

    .header .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .contacts {
        margin-top: -1px;
    }
    .nav_item_1 {
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        padding-top: 26px;
        padding-left: 20px;
    }
    }
@media screen and (max-width: 650px) {
    .container {

    }
    .top_header {
        height: 150px !important;
        background: #000;
        padding: 0px 45px;
    }
    .nav_item {
        font-size: 17px;
        font-weight: 900;
        color: #fff;
        padding-top: 26px;
        padding-left: 20px;
    }
    .main_page {
        z-index: -1;
    }
     .about_us {
         overflow-x: hidden;
         max-width: 100%;
     }
     .header .container {
         padding-right: 0px !important;
         padding-left: 0px !important;
     }
     .list_item {
         list-style: none;
         padding-left: 30px;
         font-size: 19px;
     }
     body {
         overflow-x: hidden;
     }
    .header_list {
        display: flex;
        justify-content: center;
    }
    .main_page h1 {
        color: #fff;
        font-size: 66px;
        margin-bottom: 0px;
        margin-top: 280px;
        display: inline-block;
        max-width: 100%;
    }
    .main_page h2 {
        color: #fff;
        font-size: 42px;
        margin-bottom: 0px;
    }
    .row {
        margin-right: 0px !important;
    }
    .ARCHS {
        margin: 0 auto;
    }
    .about_us_content {
        display: block;
    }
    .projects_2_img {
        width: 200px;
    }
    .content_img {
        margin-top: 59px;
        margin-left: 0px;
    }
    .about_us {
        height: 1457px;
        background-color: #000;
        padding-top: 98px;
    }
    .add_content {
        display: block;
    }
    .design_descr {
        margin-left: 0px;
    }
    .contacts_descr {
        top: 4400px;
        width: 70%;
    }
    .content_descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 72px;
        width: 537px;
        height: 132px;
        color: #fff;
        position: relative;
    }
    .design_descr {

        height: 176px;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 59px;
    }
    .projects_content {
         display: block;
    }
    .projects_subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 37px;
    }
    .projects_1_img {
        margin-top: 20px;
        margin-left: 0;
    }
    .projects_subtitle_2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 37px;
    }
    .projects_2_img {
        width: 550px;
        margin-left: 0;
        margin-top: 30px;
    }
    .ARCHS {
        margin: 0 auto;
    }
    .main_page h1 {
        color: #fff;
        font-size: 66px;
        margin-bottom: 0px;
        margin-top: 280px;
        display: inline-block;
        max-width: 100%;
    }
    .projects{
        height: 1850px;
    }
    .about_us{
        overflow-x: hidden;
    }
    .row {
        margin-right: 0px !important;
    }
    body {
        overflow-x: hidden;
    }
    .header .container{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .contacts {
        margin-top: -1px;
    }
    .about_us {
        margin-top: 490px;
    }
    .nav_item_1 {
        font-size: 17px;
        font-weight: 900;
        color: #fff;
        padding-top: 26px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 578px) {
        .top_header {
            height: 150px !important;
            background: #000;
            padding: 0px 45px;
        }
        .nav_adress{
            margin-left: 0px;
        }
        .nav_item {
            font-size: 15px;
            font-weight: 900;
            color: #fff;
            padding-top: 26px;
            padding-left: 20px;
        }
        .top_header .container{
            padding-left: 0px !important;
        }

        .main_page {
            z-index: -1;
        }

        .about_us {
            overflow-x: hidden;
            max-width: 100%;
        }

        .header .container {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .list_item {
            list-style: none;
           padding-left: 13px;
           font-size: 14px;
           }
        .main_page h2{
            color: #fff;
            font-size: 24px;
            margin-bottom: 0px;
        }
           .main_page h3{
               color: #fff;
               font-size: 18px;
               margin-bottom: 0px;
           }


        body {
            overflow-x: hidden;
        }

        .header_list {
            display: flex;
            justify-content: center;
        }

        .main_page h1 {
            color: #fff;
            font-size: 66px;
            margin-bottom: 0px;
            margin-top: 280px;
            display: inline-block;
            max-width: 100%;
        }

        .main_page h2 {
            color: #fff;
            font-size: 24px;
            margin-bottom: 0px;
            margin-bottom: 0px;
        }
        .main_page .line {
            margin-top: 10px;
            height: 5px;
            background-color: #FBFF3F;
            width: 75%;
        }
        .about_us_title {
            margin-top: -100px;
            margin-left: 30px;
            font-weight: bold;
            font-size: 40px;
            line-height: 78px;
            color: #fff;
        }

        .row {
            margin-right: 0px !important;
        }

        .ARCHS {
            margin: 0 auto;
        }

        .about_us_content {
            display: block;
        }

        .projects_2_img {
            width: 200px;
        }

        .content_img {
            margin-top: 140px;
            margin-left: 0px;
        }

        .about_us {
            height: 1370px;
            background-color: #000;
            padding-top: 98px;
        }

        .add_content {
            display: block;
        }

        .design_descr {
            margin-left: 0px;
        }

        .contacts_descr {
            top: 4400px;
            width: 70%;
        }

        .content_descr {
           font-weight: 400;
           font-size: 18px;
           line-height: 22px;
           margin-top: 72px;
           width: 100%;
           height: 132px;
           color: #fff;
           position: relative;
           }
        .design_img {
            margin-top: 60px;
        }
        .design_descr {
            height: 300px;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 50px;
        }
        .about_us_projects_title {
            font-weight: bold;
            font-size: 48px;
            line-height: 78px;
            color: #fff;
            margin-top: -100px;
            margin-left: 26px;
        }
        .projects_title_1 {
            margin-top: 60px;
            font-weight: bold;
            font-size: 22px;
            /* line-height: 59px; */
            color: #FFFFFF;
            width: 391px;
            padding-left: 15px;
        }
        .projects_line {
            width: 215px;
            border: 3px solid #FBFF3F;
            margin-top: 18px;
            margin-left: 15px;
        }
        .projects_content {
            display: block;
        }
        .projects_subtitle {
            font-weight: bold;
            font-size: 17px;
            /* line-height: 29px; */
            color: #FFFFFF;
            margin-top: 28px;
            padding-left: 15px;
            width: 100%;
        }

        .projects_1_img {
            margin-top: 20px;
            margin-left: 0;
            height: 250px;
            width:100%;
        }
        .projects_title_2 {
            margin-top: 60px;
            font-weight: bold;
            font-size: 24px;
            line-height: 59px;
            color: #FFFFFF;
            width: 391px;
        }
        .projects_line_2 {
            width: 215px;
            border: 3px solid #FBFF3F;
            margin-top: 18px;
            margin-left: 15px;
        }
        .projects_2_img {
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
            height: 250px;
        }

        .projects_subtitle_2 {
            font-weight: bold;
            font-size: 18px;
            line-height: 29px;
            color: #FFFFFF;
            margin-top: 37px;
            width: 320px;
        }

        .projects_2_img {
            width: 550px;
            margin-left: 0;
            margin-top: 30px;
        }

        .ARCHS {
            margin: 0 auto;
        }

        .main_page h1 {
             color: #fff;
            font-size: 40px;
            margin-bottom: 0px;
            margin-top: 280px;
            display: inline-block;
            max-width: 100%;
            color: #fff;
        }

        .projects {
            height: 1430px;
        }

        .about_us {
            overflow-x: hidden;
        }

        .row {
            margin-right: 0px !important;
        }

        body {
            overflow-x: hidden;
        }

        .header .container {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .contacts {
            margin-top: -1px;
        }

        .about_us {
            margin-top: 490px;
        }
        .contacts_descr {
            position: absolute;
            width: 90%;
            height: 600px;
            top: 3855px;
            margin-left: 10px;
            background-color: rgba(0, 0, 0, 0.3);
            padding-top: 180px;
            padding-left: 0px;
        }
        .contacts_location {
            margin-top: 30px;
            position: relative;
        }
        .contacts h2 {
            font-size: 42px;
            line-height: 78px;
            color: #FFFFFF;
            margin-top: -100px;
            margin-left: 47px;
        }
        .contacts_descr {
            position: absolute;
            width: 90%;
            height: 600px;
            top: 3925px;
            margin-left: 0px;
            background-color: rgba(0, 0, 0, 0.3);
            padding-top: 180px;
            padding-left: 0px;
        }

        .nav_item_1{
            display: none;
        }
        .list_style {
            justify-content: center !important;
        }
        .header_list {
            padding-left: 0;
        }
        .about_us {
            height: 1420px;
            background-color: #000;
            padding-top: 98px;
        }
    }